# services:
#   app:
#     build: .
#     ports:
#       - "8000:8000"
#     env_file:
#       - .env  # Isse aapka Neon DATABASE_URL automatic load ho jayega
#     restart: always

services:
  app:
    build: .
    container_name: SimplyLearn-server
    ports:
      - "${PORT}:${PORT}" 
    environment:
      - PORT=${PORT}
      - NODE_ENV=${NODE_ENV}
      - DATABASE_URL=${DATABASE_URL}
      - BETTER_AUTH_SECRET=${BETTER_AUTH_SECRET}
      - BETTER_AUTH_URL=${BETTER_AUTH_URL}
      - TRUSTED_ORIGIN=${TRUSTED_ORIGIN}
      - AI_API_KEY=${AI_API_KEY}
    restart: always